<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-gray">
	  <div class="panel-heading">
			<h4>Referral Partner Agreement & CRM/Back Office Registration</h4>
	  </div>
	  <div class="prospect-show">
	    
      <p>&nbsp;</p>
      <h5 style="text-align:center;"><strong></em>Please read the following agreement and electronically sign by completing and selecting agree.<br>
      <br>
        Upon completion and agreement you will be given access to the Aspire back office.</em></strong></h5>
      <p>&nbsp;</p>

      <h4 style="text-align:center;"><strong>REFERRAL PARTNER AGREEMENT</strong></h4>

      <p style="text-align:center;"><strong>Exclusively for Aspire Partners</strong></p>

      <p align="justify">THIS INDEPENDENT REPRESENTATIVE AGREEMENT (the “Agreement”) is entered into effective as of this day (the “Effective Date”) by and between HAC Enterprises LLC, doing business as Aspire Partners herein referred to as “ASPIRE", and Contractor, herein referred to as “REFERRAL PARTNER”.&nbsp; ASPIRE and REFERRAL PARTNER shall be referred to individually as a “Party” or collectively as the “Parties”.</p>

      <p align="justify">WHEREAS, Aspire is in the business of offering commercial payment services to various organizations (the “Program”). For the purposes of this Agreement, “Commercial Payment Solutions” and “Commercial Payment Services” shall mean virtual cards, ACH transactions, and checks; and&nbsp;WHEREAS, REFERRAL PARTNER desires to refer organizations (“End Users”) that will utilize these services being sold by Aspire. A “referral” (defined as a potential End User of Commercial Payment Services) is where REFERRAL PARTNER,&nbsp;at a minimum, coordinates the initial sales meeting and personally introduces the potential End Users to Aspire after having familiarized the Services to the same potential End User beforehand. A “Referred” End User is a referral, as defined above, that signs the Program Master Services Agreement (the “MSA”); for Referred End Users, the REFERRAL PARTNER will earn the appropriate consideration as shown in <u>Exhibit A</u>; provided, however, that, if there is ever a question as to whether an End User was referred by REFERRAL PARTNER, Aspire has complete and final determination; and<br>
      
      <br>NOW, THEREFORE, in consideration of the mutual covenants and agreements set forth in this Agreement, the Parties hereby agree as follows:<br><br>
      
      <br>ARTICLE 1 - SERVICES, DUTIES AND COMPENSATION<br>
      
      <br>Section 1.1.&nbsp; Provision of Services by Aspire. Aspire shall ensure that all MSA’s are delivered to the Partner Service Provider.<br>
      
      <br>Section 1.2.&nbsp; Payment of Compensation. As compensation for Referred End Users that sign a MSA, Aspire shall pay REFERRAL PARTNER in accordance with the Compensation Addendum. Compensation is subject to change, with notice, due to market conditions such as: change in Visa MasterCard interchange rates and policies, government regulations.<br>
      
      <br>Section 1.3.&nbsp; Aspire shall pay REFERRAL PARTNER each month, no more than 60 days after the month has ended.<br>
      
      <br>Section 1.4.&nbsp; Compensation payable to REFERRAL PARTNER shall be paid until the Referred End User stops utilizing the service(s).<br>
      
      <br>Section 1.5.&nbsp; Compensation is subject to change, with notice, due to market conditions such as: changes in Visa MasterCard interchange rates or policies, new or changed government regulations, etc..<br>
      
      <br>ARTICLE 2 - TERM AND TERMINATION<br>
      
      <br>Section 2.1.&nbsp; Term.&nbsp; This Agreement shall commence and become effective on the Effective Date and shall continue for twenty-four (24) months (the “Initial Term”). The Initial Term shall automatically renew for an unlimited number of one (1) year renewal terms (each, a “Renewal Term”) unless one party provides the other with written notice of its intent to terminate not less than sixty (60) days prior to the end of the Initial Term or the then current Renewal Term.&nbsp; The Initial Term and each Renewal Term shall be referred to herein collectively as the “Term”.<br>
      
      <br>Section 2.2.&nbsp; Termination.&nbsp; If either Party breaches any provision of this Agreement, and such breach is not cured within ninety (90) days after the breaching party receives written notice, then, in addition to all other rights and remedies of law or equity or otherwise, the non-breaching party shall have the right to terminate this Agreement without any obligation or liability except as otherwise defined in this Agreement. Failure of the non-breaching party to terminate this Agreement following a breach which continues longer than such ninety (90) day period shall not constitute a waiver of the non-breaching party’s rights under this Section 2.2 provided such breach has not been cured. Upon expiration or termination of this Agreement, each Party shall, upon the request of the other, (a) return all papers, materials and property of the other held by such Party and (b) provide reasonable assistance in the termination of this Agreement as may be necessary for the orderly, non-disrupted, continuation of the Commercial Payment Services being provided to the End Users or Aspire’s business. Notwithstanding anything contained in this Agreement to the contrary, each Party shall have the right to terminate this Agreement at any time by giving thirty (30) days prior notice to the other Party.<br>
      
      <br>ARTICLE 3 - INDEMNITY<br>
      
      <br>Section 3.1&nbsp; Mutual Indemnity.&nbsp; Each Party (the “Indemnifying Party”) shall indemnify, defend and hold harmless the other Party (the “Indemnified Party”) and the other Party’s officers, directors, managers, employees and agents from and against all liabilities, costs and expenses (including reasonable attorneys’ fees) incurred by the Indemnified Party that arise out of any claim, demand, suit, action, or proceeding brought by a third party that involves, relates to or concerns a violation or other breach by the Indemnifying Party of any of the provisions of this Agreement (including, without limitation, any of the representations or warranties of the Indemnifying Party set forth in this Agreement) or the negligence or willful misconduct of the Indemnifying Party.<br>
      
      <br>ARTICLE 4 - CONFIDENTIALITY<br>
      
      <br>Section 4.1&nbsp;Definitions.&nbsp; For purposes of this Section 4, the following terms shall have the meanings described below:<br>
      
      <br>“Affiliates” means (a) in the case of an individual, any relative of such Person, (b) any officer, director, trustee, partner, manager, employee or holder of ten percent (10%) or more of any class of the voting securities of or equity interest in such Person; (c) any corporation, partnership, limited liability company, trust or other entity controlling, controlled by or under common control with such Person; or (d) any officer, director, trustee, partner, manager, employee or holder of ten percent (10%) or more of the outstanding voting securities of any corporation, partnership, limited liability company, trust or other entity controlling, controlled by or under common control with such Person.<br>
      
      <br>“Business Opportunities” means all ideas, concepts or information received or developed (in whatever form) by Aspire concerning any business, transaction or potential transaction within the business of Aspire that constitutes or may constitute an opportunity for Aspire to earn a fee or income, which are opportunities in which Aspire has gained a legal or equitable interest or expectancy growing out of a preexisting right or relationship with a current or prospective customer, including and specifically, those relationships that were initiated, nourished or developed at Aspire’s expense. All ideas, concepts and information concerning any Business Opportunity shall constitute Confidential Information (as defined below).<br>
      
      <br>“Confidential Information” means data and information:<br>
      
      <br>i)&nbsp; relating to the business of Aspire regardless of whether the data or information constitutes a Trade Secret; or<br>
      
      <br>ii)&nbsp; disclosed to REFERRAL PARTNER or of which REFERRAL PARTNER became aware of as a consequence of REFERRAL PARTNER’s relationship with Aspire; or<br>
      
      <br>iii)&nbsp; not generally known to competitors of Aspire; or<br>
      
      <br>iv)&nbsp; which includes, without limitation, Trade Secrets (as defined below) and information pertaining to: (1) Business Opportunities; (2) data and compilations of data relating to the business of Aspire, including without limitation any data and compilations relating to items (3)-(13) below and shall also be deemed to include all notes, analyses, compilations, studies, forecasts, interpretations or other documents prepared by REFERRAL PARTNER that contain, reflect or are based upon, in whole or in part, the information delivered, disclosed or furnished to REFERRAL PARTNER pursuant hereto; (3) lists of customers and potential customers and other data or information about, communications and agreements with, and proposals to customers and potential customers of Aspire, including without limitation prices offered or charged to customers and Aspire’s costs for products or services provided to its customers, specific customers information pertaining to Aspire’s projects, products, and services, and information pertaining to any customer complaints or disputes; (4) Aspire’s financial information and financial statements; (5) information concerning Aspire’s past, current, and prospective business plans, marketing strategies, products and services, whether copyrightable or not, and customers and end users, including, but not limited to, new project timelines, future market and product plans, inventory, sales, and cost and expense reports, and information concerning past, current, and projected sales, bids or other proposals to offer or acquire products or services; (6) all communications, whether written or oral, including any recordings of meetings, conversations, and telephone calls, of any employee or independent contractor of Aspire; (7) employee and contractor lists and other information about Aspire’s employees and independent contracting consultants, including without limitation information regarding the relative skills, experience, compensation, and incentives of Aspire’s other employees and contractors; (8) data or information concerning, communications and agreements with, and proposals to, Aspire’s wholesalers, distributors, vendors, suppliers and licensors and other sources of technology, products, services or components used in the business of Aspire and amounts charged to Aspire by its wholesalers, distributors, vendors, suppliers and service providers; (9) know-how, and other information of a technical or economic nature relating to Aspire and its affiliates, suppliers, and customers, including without limitation computer software, hardware, network and internet technology utilized, modified or enhanced by Aspire and negative know-how, which is information about what Aspire tried that did not work, if that information is not generally known or easily ascertainable by Aspire’s competitors and would give them an unfair advantage in knowing what not to do; (10) Aspire’s research and development records and data; (11) data acquired or maintained by Aspire and methods for managing, accessing, searching, or utilizing the data and any reports or certificates associated therewith; (12) any summary, extract or analysis of such information; and (13) any information that has been received or disclosed to Aspire by any third party as to which Aspire has an obligation to treat as confidential.<br>
      
      <br>Confidential Information does not include data or information: (A) which has been voluntarily disclosed to the public by Aspire, except where such public disclosure has been made by REFERRAL PARTNER without authorization from Aspire; (B) which has been independently developed and disclosed by others; or (C) which has otherwise entered the public domain through lawful means.<br>
      
      <br>“Person” means any natural person, firm, general or limited partnership, corporation, association, limited liability company, or other entity, as the context may require.<br>
      
      <br>“Trade Secrets” means Aspire’s trade secrets (as defined in the applicable state law trade secret act), as the same may be amended from time to time.<br>
      
      <br>Section 4.2&nbsp; Confidential Treatment.&nbsp; REFERRAL PARTNER shall hold the Confidential Information in strict confidence, and shall not copy, reproduce, sell, assign, license, market, transfer or otherwise disclose any Confidential Information to any other company that provides competing Commercial Payment Services of their own or would share with such, without the prior written consent of Aspire. REFERRAL PARTNER agrees that all (i) Confidential Information, (ii) Trade Secrets, and (iii) all physical or electronic embodiments of the foregoing that are received or obtained by REFERRAL PARTNER from Aspire are confidential and are and will remain the sole and exclusive property of Aspire. REFERRAL PARTNER hereby expressly covenants and agrees that it will not, for or on behalf of REFERRAL PARTNER or any Person, directly or indirectly, copy, use for REFERRAL PARTNER’s own benefit or the benefit of any Person other than Aspire or disclose to any Person, any Confidential Information or Trade Secrets. Upon termination of this Agreement for any reason, REFERRAL PARTNER shall return (or at Aspire’s written request, destroy) to Aspire all things and documents containing Confidential Information or Trade Secrets (including physical or electronic copies of the foregoing) in REFERRAL PARTNER’s possession, whether made by REFERRAL PARTNER, its representatives or others. REFERRAL PARTNER agrees that all right, title and interest in any improvements or developments to the Confidential Information or Trade Secrets, whether made by Aspire, REFERRAL PARTNER, or jointly made by Aspire and REFERRAL PARTNER, arising out of any disclosure of the Confidential Information or Trade Secrets by Aspire to REFERRAL PARTNER is and shall remain solely the property of Aspire. For purposes of the restrictions in this Section 4.2, (i) REFERRAL PARTNER means REFERRAL PARTNER, its Affiliates, and its and their respective directors, officers, employees, independent contractors, agents, attorneys and representatives, and (ii) REFERRAL PARTNER shall cause all of the foregoing to be bound by the provisions hereof and be legally responsible if any of those parties breach the foregoing confidentiality and non-disclosure provisions.<br>
      
      <br>Section 4.3&nbsp; Damages and Injunctive Relief.&nbsp; REFERRAL PARTNER acknowledges that the Confidential Information is unique property of value to Aspire and is highly confidential and proprietary, and that the unauthorized use or disclosure thereof may cause Aspire irreparable harm that could not be compensated by monetary damages. Accordingly, REFERRAL PARTNER agrees that Aspire will be entitled to seek injunctive and preliminary relief to remedy any actual or threatened unauthorized use or disclosure of such information, and/or to specific performance or any other equitable remedy available without the requirement of posting a bond or other security. Any such equitable relief shall be in addition to and not in lieu of any other relief to which Aspire may be entitled, whether hereunder or otherwise and whether at law, in equity, or otherwise. REFERRAL PARTNER shall notify Aspire in writing immediately upon its becoming aware of any breach or threatened breach hereof or of any unauthorized use or disclosure of any Confidential Information, and shall promptly take such actions as may be necessary or reasonably requested by Aspire, and otherwise cooperate with Aspire, to minimize the adverse effects to Aspire of such acts or omissions and any damage resulting therefrom.<br>
      
      <br>Section 4.4&nbsp; Required Disclosure.&nbsp; If REFERRAL PARTNER is legally compelled (whether by regulatory request, deposition, interrogatory, request for documents, subpoena, civil investigation, demand or similar process) to disclose any of the Confidential Information, it shall immediately notify Aspire in writing of such requirement so Aspire may seek a protective order or other appropriate remedy and/or waive compliance with the provisions hereof.<br>
      
      <br>Section 4.5&nbsp; Survival.&nbsp; The Parties’ obligations set forth herein shall remain in effect during the Term of the Agreement and for five (5) years thereafter, but such obligation of confidentiality will not expire for Confidential Information considered or deemed to be a trade secret under applicable law.<br>
      
      <br>ARTICLE 5 - RESTRICTIVE COVENANTS<br>
      
      <br>Section 5.1&nbsp; <u>Non-Solicitation of Employees</u>.&nbsp; During the Term of this Agreement and for a period of two (2) years after the termination of this Agreement (the “<u>Restricted Period</u>”), REFERRAL PARTNER shall not directly or indirectly solicit, induce, recruit, encourage, take away, or hire (or attempt any of the foregoing actions) or otherwise cause (or attempt to cause) any officer, representative, agent, director, employee or independent contractor of Aspire to leave his or her employment or engagement with Aspire either for employment with REFERRAL PARTNER or with any other entity or person, or otherwise interfere with or disrupt (or attempt to disrupt) the employment or service relationship between any such individual and Aspire.<br>
      
      <br>Section 5.2&nbsp; <u>Non-Solicitation of Customers and/or Vendors</u>.&nbsp; During the Restricted Period, REFERRAL PARTNER shall not, directly, indirectly, or by assisting others, take any action to solicit, divert, take away, call upon, or attempt to solicit, divert, take away, call upon, any customers, Referrals, End Users, Referred End Users, and/or vendors of the Company, including actively seeking prospective customers, Referrals, End Users, and/or vendors, with whom REFERRAL PARTNER had Material Contact during REFERRAL PARTNER’s engagement with Aspire, for the purposes of inducing or attempting to induce or diverting their business away from Aspire. The term “Material Contact” means the contact between REFERRAL PARTNER and each customer, Referral, End User, Referred End User, and/or vendor (a) with whom or which REFERRAL PARTNER dealt on behalf of Aspire, (b) whose dealings with Aspire were coordinated or supervised by REFERRAL PARTNER; (c) about whom REFERRAL PARTNER obtained Confidential Information in the ordinary course of business as a result of REFERRAL PARTNER’s association with Aspire; or (d) who receives products or services authorized by Aspire, the sale or provision of which results or resulted in compensation, commissions, or earnings for REFERRAL PARTNER within two (2) years prior to the termination of this Agreement.<br>
      
      <br>Section 5.3&nbsp; <u>Non-Competition.</u>&nbsp; During the Restricted Period, REFERRAL PARTNER shall not, directly or indirectly, within the Territory, other than within the scope of REFERRAL PARTNER’s services for Aspire:<br>
      
      <br>(i) own, operate, or control any Competing Enterprise other than as a passive owner of not more than five percent (5%) of the outstanding stock of any class of a corporation, provided that REFERRAL PARTNER has no participation in the business of such corporation; or<br>
      
      <br>(ii) hold any position for a Competing Enterprise or engage in any activities for a Competing Enterprise as an employee, director, owner, stockholder, consultant, partner (limited or general) or otherwise if such position or activities involve: (i) the provision or sale of Competitive Services; (ii) supervision of employees or other personnel in the provision or sale of Competitive Services; (iii) development or implementation of strategies or methodologies related to the provision or sale of Competitive Services; or (iv) responsibilities in which REFERRAL PARTNER would utilize or disclose Confidential Information or Trade Secrets.<br>
      
      <br>For purposes of this Section 5.3, the following definitions shall apply:<br>
      
      <br>(i) “Competing Enterprise” shall mean any person or entity, corporation, partnership, joint venture or other enterprise or business engaged in providing Commercial Payment Services.<br>
      
      <br>(ii) “Competitive Services” shall mean activities, products or services that are competitive with, the same as, or similar to Commercial Payment Services.<br>
      
      <br>Section 5.4&nbsp; <u>Non-Disparagement</u>.&nbsp; During the Restricted Period, REFERRAL PARTNER shall not make, or cause or assist any other person to make, any statement or other communication to any third party which impugns or attacks, or is otherwise critical of, the reputation, business or character of Aspire or any of its affiliates, or any of its respective directors, officers, representatives, agents or employees.<br>
      
      <br>Section 5.5&nbsp; <u>Understanding of Covenants</u>.&nbsp; REFERRAL PARTNER represents that he/she/it (i) is familiar with the foregoing non-solicitation, non-competition, and non-disparagement covenants, (ii) is fully aware of his/her/its obligations hereunder, (iii) agrees to the reasonableness of the length of time, scope and geographic coverage of the foregoing covenants, and (iv) agrees that such covenants are necessary to protect Aspire’s confidential and proprietary information, goodwill, stable workforce, and customer relations. REFERRAL PARTNER acknowledges and agrees that the covenants contained in this Agreement are reasonable in time, scope and in all other respects; that such covenants shall be construed as agreements independent of each other and of any provision of this or any other contract between the Parties hereto; that should any part or provision of any covenant be held invalid, void or unenforceable in any court of competent jurisdiction, such invalidity, voidness or unenforceability shall not render invalid, void or unenforceable any other part or provision of this Agreement. If any portion of the foregoing provisions is found to be invalid or unenforceable by a court of competent jurisdiction because its duration, the territory, the definition of activities or the definition of information covered is considered to be invalid or unreasonable in scope, the invalid or unreasonable term shall be redefined, or a new enforceable term provided, such that the intent of Aspire and REFERRAL PARTNER in agreeing to the provisions of this Agreement will not be impaired and the provision in question shall be enforceable to the fullest extent of the applicable laws; and that the existence of any claim or cause of action by REFERRAL PARTNER against Aspire, whether predicated upon this or any other contract, shall not constitute a defense to the enforcement by Aspire of said covenants.<br>
      
      <br>Section 5.6&nbsp; <u>Remedy for Breach</u>.&nbsp; REFERRAL PARTNER agrees that a breach of any of the covenants of this Article 5 would cause material and irreparable harm to Aspire that would be difficult or impossible to measure, and that damages or other legal remedies available to Aspire for any such injury would, therefore, be an inadequate remedy for any such breach. Accordingly, REFERRAL PARTNER agrees that if he/she/it breaches any term of this Article 5, Aspire shall be entitled, in addition to and without limitation upon all other remedies Aspire may have under this Agreement, at law or otherwise, to obtain injunctive or other appropriate equitable relief, without bond or other security, to restrain any such breach. In the event the enforceability of any of the terms of this Agreement shall be challenged in court and REFERRAL PARTNER is not enjoined from breaching any of the protective covenants, then if a court of competent jurisdiction finds that the challenged protective covenant is enforceable, the time periods shall be deemed tolled upon the filing of the lawsuit challenging the enforceability of this Agreement until the dispute is finally resolved and all periods of appeal have expired.<br>
      
      <br>ARTICLE 6 - MISCELLANEOUS PROVISIONS<br>
      
      <br>Section 6.1. &nbsp;Notices.&nbsp; Any and all notices, elections, offers, acceptances, and demands permitted or required to be made under this Agreement shall be in writing, signed by the person giving such notice, election, offer, acceptance, or demand and shall be delivered personally, or sent by registered or certified mail, to the other party, addressed to 'ASPIRE' as HAC Enterprises LLC, 1001 Cambridge Square, Alpharetta, GA 30009, Attention: Alan Briskin or addressed to 'REFERRAL PARTNER' as provided by REFERRAL PARTNER herein.<br>
      
      <br>Section 6.2. &nbsp;Force Majeure.&nbsp; If the performance of any part of the Agreement by either Party, or of any obligation under this Agreement, is prevented, restricted, interfered with, or delayed by reason of any cause beyond the reasonable control of the Party liable to perform, unless conclusive evidence to the contrary is provided, the Party so affected shall, on giving written notice to the other Party, be excused from such performance to the extent of such prevention, restriction, interference, or delay, provided that the affected Party shall use its reasonable best efforts to avoid or remove such causes of nonperformance and shall continue performance with the utmost dispatch whenever such causes are removed. When such circumstances arise, the Parties shall discuss what, if any, modification of the terms of this Agreement may be required in order to arrive at an equitable solution.<br>
      
      <br>Section 6.3. &nbsp;Binding Effect; Assignment.&nbsp; This Agreement shall be binding upon, and shall inure to the benefit of, the Parties hereto and their permitted assigns and successors-in-interest. In the event that Aspire sells substantially all of its assets, merges with another entity, or if a majority of its membership interests are transferred to a third party (hereinafter referred to as a “Change in Control Event”), REFERRAL PARTNER may elect to terminate this Agreement. If REFERRAL PARTNER terminates this Agreement due to a Change in Control Event, it shall continue to receive its Revenue Share from Aspire’s successor pursuant to Section 1.2 above (and Exhibit A).<br>
      
      <br>Section 6.4. &nbsp;Counterparts.&nbsp; This Agreement may be executed in multiple copies, each of which shall for all purposes constitute an Agreement, binding on the Parties, and each Party hereby covenants and agrees to execute all duplicates or replacement counterparts of this Agreement as may be required. Delivery of a copy of a signature by facsimile transmission or an electronic exchange methodology shall constitute a valid and binding execution and delivery of this Agreement, and such electronic copy shall constitute an enforceable original document.<br>
      
      <br>Section 6.5. &nbsp;Costs and Expenses.&nbsp; Unless otherwise provided in this Agreement, each Party shall bear all fees and expenses incurred in performing its obligations under this Agreement. Should Aspire institute any action or proceeding in any court to enforce any of the provisions hereof, for damages by reason of any alleged breach of any provision of this Agreement or for the enforcing of any covenant herein contained, Aspire shall be entitled to receive from REFERRAL PARTNER such amounts that the court shall adjudge to be reasonable attorney’s fees for the services rendered on behalf of Aspire in such action (including any appeal thereof).<br>
      
      <br>Section 6.6. &nbsp;Independent Contractor.&nbsp; REFERRAL PARTNER shall perform all work in connection with this Agreement as an independent contractor and not as the agent or employee of Aspire. All persons furnished by REFERRAL PARTNER shall be for all purposes solely REFERRAL PARTNER’s employees or agents and shall not be deemed to be employees of Aspire for any purpose whatsoever.<br>
      
      <br>Section 6.7.&nbsp;Non-Exclusive&nbsp;. Nothing in this Agreement shall prohibit Aspire from engaging with other individuals, representatives, organizations, or entities, of any kind, for the purpose of referring Commercial Payment Services.<br>
      
      <br>Section 6.8. &nbsp;Governing Law, Jurisdiction, etc.&nbsp; This Agreement shall be governed by and construed in accordance with, the laws of the State of Florida. Venue shall be the federal or state courts in Florida.</p>
      
      <hr>

      <p style="text-align:center;"><strong>EXHIBIT A&nbsp; - COMPENSATION ADDENDUM</strong><br>
      
      <br><br>
        <strong>I.&nbsp;&nbsp; Commercial Payments</strong></p>
      
      <p align="text-align:justify">Aspire's Partner provides Commercial Payment Services that reduce an organizations AP operating expenses, saving them time and money, and generates revenue when paying their suppliers and vendors. Aspire shall pay REFERRAL PARTNER a “Revenue Share” based on the aggregate volume of Referred End Users’ Accounts Payable spend through Virtual Card Payments.<br>
      
      <br>Standard Transactions are defined as Visa and MasterCard Corporate Standard or Corporate Data Rate I. For all Standard Transactions for End Users, Aspire shall pay REFERRAL PARTNER a Revenue Share of .10% (10 BPS) for each such transaction where client is paid no more than 1.5% (150 BPS).  This amounnt would be reduced in the event that a client is to be paid more than 1.5% (150 BPS).<br>
      
      <br>Non-Standard Transactions include, but are not limited to, Enhanced Data transactions, Large Ticket transactions, foreign transactions. For all transactions for End Users that do not qualify as Standard Transactions (“Non-Standard Transactions”), Aspire shall pay REFERRAL PARTNER a Revenue Share of .05% (5 BPS) for each such transaction.<br>
      
      <!--<br><span style="">For Proxy Payments, or Buyer Initiated Payments (BIP) that incur additional fees, or that incur lesser interchange fees, Aspire shall pay REFERRAL PARTNER the Standard or Non-Standard transaction rate, minus any additional processing costs or reduction of supplier fees paid.</span><br></p>-->

<!--             <p><br>
        <strong>II.&nbsp;&nbsp; Instant Pay</strong><br>
      
      <br>Aspire's Partner provides real-time earnings technology that gives hourly employees same-day access to their earned wages, helping to alleviate stress, increase engagement and ultimately decrease employee turnover. Employers pay nothing and employees pay a small transaction fee, similar to an ATM transaction, each time they use the Mobile App to take an advance on their pay.<br>
      
      <br>Aspire shall pay REFERRAL PARTNER $0.30 per transaction for each employee payment advance. Aspire shall also pay REFERRAL PARTNER 7.5% of revenue on optional additional modules that employers may subscribe to.</p> -->

<!--              <p><strong>III.&nbsp;&nbsp; HealthCare Savings</strong></p>
      <p>Aspire's Partner helps employers with 50+ employees (100+ in NY and CA) to reduce their health benefit costs by reducing their claims cost. Employers typically save approximately $150,000 per year, per 100 employees they have on on their health plan. Compensation for this service varies per client, depending on the size of the group and depending on the savings generated. Although there is no cap, or maximum employer size, most clients for this service will have between 100 and 300 employees.</p><p>The referral compensation for the average group is $10 per employee, per month. Compensation may be reduced if the fee to the client is reduced, which is typical on groups that have fewer than 50 employees or more than 300 employees.</p> -->

      <p align="text-align:justify">I understand that by entering my name and address below, I am electronically signing this agreement and that checking the agreement acknowledgement box constitutes a legal signature confirming that I acknowledge and agree to the above Terms of Acceptance.</p>	    
	    
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :group, as: :hidden, input_html: {value: @group_id} %>
          <div class="form-inputs">
            <h3 align="center"><%= f.input :agree, label: 'I Agree' %></h3>
            <div class="row">
              <div class="col-md-6"><%= f.input :advisor_first_name, required: true, autofocus: true, label: 'First Name' %></div>
              <div class="col-md-6"><%= f.input :advisor_last_name, required: true, label: 'Last Name'  %></div>
            </div>
            <div class="row">
              <div class="col-md-6"><%= f.input :advisor_phone, label: 'Phone'  %></div>
              <div class="col-md-6"><%= f.input :advisor_mobile, label: 'Mobile'  %></div>
            </div>
            <div class="row">
              <div class="col-md-8"><%= f.input :mailing_address, required: true, label: 'Mailing Address'  %></div>
              <div class="col-md-4"><%= f.input :apt_suite, label: 'Apt/Suite #'  %></div>
            </div>
            <div class="row">
              <div class="col-md-4"><%= f.input :city, label: 'City'  %></div>
              <div class="col-md-4"><%= f.input :state, collection: STATES %></div>
              <div class="col-md-4"><%= f.input :zip, label: 'ZipCode'  %></div>
            </div>
            
            <div class="row">
              <div class="col-md-4"><%= f.input :email, required: true %></div>
              <div class="col-md-4"><%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %></div>
              <div class="col-md-4"><%= f.input :password_confirmation, required: true %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-actions">
            <%= f.button :submit, "Agree & Register", class:"btn btn-slate btn-block btn-lg" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>