<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-gray">
	  <div class="panel-heading">
			<h4>Send Email Message to Your Entire Group</h4>
	  </div>
	  <div class="prospect-show">

      <p><strong>From:</strong> <%= current_user.advisor_name %> <<%= current_user.email %>></p>

      <p><strong>To:</strong> Entire group (individual emails)</p>

      <%= form_tag group_message_path, method: :post do %>
      <div class='form-group'>
        <strong>Subject:</strong><br>
        <%= text_field_tag 'subject', '', class: 'form-control'%>

        <strong>Body:</strong><br>
        <%= cktext_area :body, '', cols: 40, name: 'body', ckeditor: { toolbar: 'mini' } %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="form-actions center">
        <em>Warning: Upon submission, an email will be sent to all agents.</em>
        <%= submit_tag "submit",:value => "Send Email Now", class:"btn btn-danger btn-block" %>
      </div>
      <% end %>

    </div>
  </div>
</div>