    <% if @prospect.cps_prospect == false %>
		  <div class="row">
		    <div class="col-md-4 col-md-offset-4">
          <%= link_to "Add Commercial Payments Service", cps_path(@prospect), class: "btn btn-sm btn-block btn-slate" %>
        </div>
      </div>  
    <% else %>
      <p>&nbsp;</p>
      <hr>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-4">
          <h4><strong>Commercial Payment Solutions</strong></h4>
        </div>
        <div class="col-md-6">
          <br>
          Status: <em><%= @prospect.cps_status %></em>
        </div>
        <div class="col-md-2">
          <%= link_to "Edit CPS Service", cps_path(@prospect), class: "btn btn-warning" %>      
        </div>        
      </div>
      <div class="row">
        <div class="col-md-12">
          Next Action: 
    		  <% if !@prospect.cps_next_action_date.nil? %>
      		  <em><%= @prospect.cps_next_action_date.strftime("%m/%d/%y") %> - </em>
      		<% end %>
      		<em><%= @prospect.cps_next_action %></em>
        </div>
      </div>
  
      <br>
      
      <div class="row">
        <div class="col-md-4">
          Intro Pres Date: <% if !@prospect.cps_intro_presentation_date.nil? %>
    		  <em><%= @prospect.cps_intro_presentation_date.strftime("%m/%d/%y") %></em><% end %>
    		  <br>
    		  Intro Presented by: <em><%= @prospect.cps_intro_presenter %></em>  
        </div>
        <div class="col-md-4">
          SME Presentation Date: <% if !@prospect.cps_sme_presentation_date.nil? %>
    		  <em><%= @prospect.cps_sme_presentation_date.strftime("%m/%d/%y") %></em><% end %><br>
    		  Subject Matter Expert: <em><%= @prospect.cps_sme %></em>
        </div>
        <div class="col-md-4">
      		Total AP: <em><%= number_to_currency(@prospect.cps_total_ap, precision: 0) %></em>
      	</div>
      </div>
  
      <br>
  
      <div class="row">
        <div class="col-md-4">
          Proposal Meeting: <% if !@prospect.cps_supplier_match_meeting_date.nil? %>
    		  <em><%= @prospect.cps_supplier_match_meeting_date.strftime("%m/%d/%y") %></em><% end %>  
        </div>      
        <div class="col-md-4">
          Agreement Date: <% if !@prospect.cps_agreement_date.nil? %>
    			<em><%= @prospect.cps_agreement_date.strftime("%m/%d/%y") %></em><% end %>
        </div>
        <div class="col-md-4">
      		AP Converted to VC: <em><%= number_to_currency(@prospect.cps_converted_ap, precision: 0) %></em>
      	</div>
      </div>
  
      <br>
      
      <div class="row">
        <div class="col-md-12">
          Comments:
          <%= render @prospect.comments.where.not(cps_content: nil) %>
          <br>
          <br>
          <%= render 'comments/cps_form' %>
        </div>
      </div>

  		<div class="row">
  		  <div class="col-md-4 col-md-offset-4">
      		<%= simple_form_for @prospect, url: cps_update_path, method: :post do |f| %>
      			<%= f.hidden_field :cps_prospect, value: 'false' %>
            <%= f.submit "Remove Commercial Payments Service", class:"btn btn-sm btn-block btn-danger" %>
          <% end %>
        </div>
      </div>    

    <% end %>