
<% if current_user.manager || current_user.has_users? %>

	<div class="col-md-12">
		

		<% if current_user.manager %>
			<div class="row">
				
				<div class="col-md-4">
					<div class="row">
						<div class="col-sm-12">					
							<div class="well dashboard-panel dashboard-bckg-1 ">
								<h1 align="center"><%= total_agents %></h1>
								<p>&nbsp;</p>
								<h4 align="center">Total Agents</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">					
							<div class="well dashboard-panel dashboard-bckg-2 ">
								<h1 align="center"><%= @users.count %></h1>
								<p>&nbsp;</p>
								<h4 align="center">Total Users in CRM</h4>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="well dashboard-panel dashboard-bckg-3-2">
						<h3 align="center">Agents Per Manager</h3>
						<h4>
							<table align="center">

								<tr>
									<td><%= @users.where(group: "cc").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Chris Cunningham</td>
								</tr>
								<tr>
									<td><%= @users.where(group: "ac").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Andy Charles</td>
								</tr>
								<tr>									
									<td><%= @users.where(group: "se").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Stephanie Elad</td>
								</tr>								
								<tr>
									<td><%= @users.where(group: "cn").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Chris Napier</td>
								</tr>
								<tr>									
									<td><%= @users.where(group: "ls").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Laura Sardilli</td>
								</tr>
								<tr>									
									<td><%= @users.where(group: "ne").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Neil Evans</td>
								</tr>
								<tr>									
									<td><%= @users.where(group: "rs").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Robert Sawyer</td>
								</tr>								
								<tr>									
									<td><%= @users.where(group: "td").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Thomas DePaola</td>
								</tr>
								<tr>
									<td><%= @users.where(group: "ajrc").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Alan Callaghan</td>
								</tr>								
								<tr>									
									<td><%= @users.where(group: "tz").count %></td><td>&nbsp;&nbsp;&nbsp;</td><td>Terri Zielonko</td>
								</tr>
							</table>
						</h4>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="well dashboard-panel dashboard-bckg-1-2">
						<h3 align="center">% Agents Per Manager</h3>
							<div align="center" id="piechart"></div>
							
							<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
							
							<script type="text/javascript">
							// Load google charts
							google.charts.load('current', {'packages':['corechart']});
							google.charts.setOnLoadCallback(drawChart);
							
							// Draw the chart and set the chart values
							function drawChart() {
							  var data = google.visualization.arrayToDataTable([
							  ['Manager', 'value'],
							  ['Alan', <%= @users.where(group: "ajrc").count %>],
							  ['Andy', <%= @users.where(group: "ac").count %>],
							  ['Chris C', <%= @users.where(group: "cc").count %>],
							  ['Chris N', <%= @users.where(group: "cn").count %>],
							  ['Laura', <%= @users.where(group: "ls").count %>],
							  ['Neil', <%= @users.where(group: "ne").count %>],
							  ['Robert', <%= @users.where(group: "rs").count %>],
							  ['Stephanie', <%= @users.where(group: "se").count %>],
							  ['Thomas', <%= @users.where(group: "td").count %>],
							  ['Terri', <%= @users.where(group: "tz").count %>],
							  ['Alan Callaghan', <%= @users.where(group: "ajrc").count %>]
							]);
							
							  // Optional; add a title and set the width and height of the chart
							  var options = {
							  							backgroundColor: 'transparent',
							  							is3D : true,
							                width:'100%',
							                height:'100%',
							                // title : 'My Chart',
							                // legend : { position : 'bottom' },
							                // legend: 'none',							                
							            		// pieSliceText: 'value'
											        // colors: ['#0598d8', '#f97263'],
											        chartArea: {
															            left: "3%",
															            top: "3%",
															            height: "94%",
															            width: "94%"
											        						}
							                 };
							
							  // Display the chart inside the <div> element with id="piechart"
							  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
							  chart.draw(data, options);
							}
							</script>
							
					</div>
				</div>


			</div>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>			
			
		<% end %>


		<div class="row">
			<div class="col-md-12">
				<div class="well dashboard-panel dashboard-bckg-1-1 ">
					<h1 align="center">Commercial Payment Solutions</h1>
				</div>
			</div>
		</div>

		<div class="row">
			
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">				
						<div class="well dashboard-panel dashboard-bckg-1-2">
							<h1 align="center"><%= @prospects.where(cps_prospect: true).count - cps_all_closed %></h1>
							<h4 align="center">Total Open Commercial Payment Opportunities</h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">				
						<div class="well dashboard-panel dashboard-bckg-1-3">
							<h1 align="center"><%= @prospects.where(cps_prospect: true).count %></h1>
							<h4 align="center">Total Commercial Payment Prospects in CRM</h4>
						</div>				
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="well dashboard-panel dashboard-bckg-1-4">
					<h3 align="center">Prospects Status:</h4>
					<h4>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Intro Presentation Scheduled").count %>&nbsp; Intro Presentations Scheduled<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Scheduling SME Presentation").count %>&nbsp; Scheduling SME Presentation<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "SME Presentation Scheduled").count %>&nbsp;  SME Presentations Scheduled<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Waiting for Supplier Data").count %>&nbsp;  Waiting for Supplier Data<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Supplier Match Presentation Scheduled").count %>&nbsp;  Supplier Match Pres Scheduled<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Waiting on Agreement").count %>&nbsp;  Waiting on Agreements<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Closed - Enrollment Scheduled").count %>&nbsp;  Closed - Enrollment Scheduled<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Closed - Client is Active").count %>&nbsp;  Closed - Client is Active<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Intro Presentation Given - No Sale").count %>&nbsp;  Intro Presentations Given - No Sale<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "SME Presentation Done - No Sale").count %>&nbsp;  SME Presentations Done - No Sale<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Supplier Match Presentation Given - No Sale").count %>&nbsp;  Supplier Match Pres Given - No Sale<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Not Qualified - No Sale").count %>&nbsp;  Not Qualified - No Sale<br>
						&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(cps_status: "Other - No Sale").count %>&nbsp;  Other - No Sale</h4>
				</div>
			</div>
	
			<div class="col-md-4">
				<div class="well dashboard-panel dashboard-bckg-1-5">
					<h3 align="center">Following Up In:</h4>
					<h4>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in January").count %>&nbsp; January<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in February").count %>&nbsp;  February<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in March").count %>&nbsp;  March<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in April").count %>&nbsp;  April<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in May").count %>&nbsp;  May<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in June").count %>&nbsp;  June<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in July").count %>&nbsp;  July<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in August").count %>&nbsp;  August<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in September").count %>&nbsp;  September<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in October").count %>&nbsp;  October<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in November").count %>&nbsp;  November<br>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(cps_status: "Follow up in December").count %>&nbsp;  December</h4>
				</div>
			</div>

		</div>

		<!--<p>&nbsp;</p>-->
		<!--<p>&nbsp;</p>-->
		
		<!--<div class="row">-->
		<!--	<div class="col-md-12">-->
		<!--		<div class="well dashboard-panel dashboard-bckg-2-1 ">-->
		<!--			<h1 align="center">Instant Pay</h1>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->

		<!--<div class="row">-->
			
		<!--	<div class="col-md-4">-->
		<!--		<div class="row">-->
		<!--			<div class="col-md-12">				-->
		<!--				<div class="well dashboard-panel dashboard-bckg-2-2">-->
		<!--					<h1 align="center"><%= @prospects.where(pay_prospect: true).count - pay_all_closed %></h1>-->
		<!--					<h4 align="center">Total Open Instant Pay Opportunities</h4>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="row">-->
		<!--			<div class="col-md-12">				-->
		<!--				<div class="well dashboard-panel dashboard-bckg-2-3">-->
		<!--					<h1 align="center"><%= @prospects.where(pay_prospect: true).count %></h1>-->
		<!--					<h4 align="center">Instant Pay Prospects in CRM</h4>-->
		<!--				</div>				-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->

		<!--	<div class="col-md-4">-->
		<!--		<div class="well dashboard-panel dashboard-bckg-2-4">-->
		<!--			<h3 align="center">Instant Pay Prospects Status:</h4>-->
		<!--			<h4>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "Intro Presentation Scheduled").count %>&nbsp; Intro Presentations Scheduled<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "SME Presentation Scheduled").count %>&nbsp;  SME Presentations Scheduled<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "Waiting on Agreement").count %>&nbsp;  Waiting on Agreements<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "Closed - Client is Active").count %>&nbsp;  Closed - Client is Active<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "Intro Presentation Given - No Sale").count %>&nbsp;  Intro Presentations Given - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "SME Presentation Done - No Sale").count %>&nbsp;  SME Presentations Done - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "Not Qualified - No Sale").count %>&nbsp;  Not Qualified - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(pay_status: "Other - No Sale").count %>&nbsp;  Other - No Sale</h4>-->
		<!--		</div>-->
		<!--	</div>-->
	
	
		<!--	<div class="col-md-4">-->
		<!--		<div class="well dashboard-panel dashboard-bckg-2-5">-->
		<!--			<h3 align="center">Following Up In:</h4>-->
		<!--			<h4>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in January").count %>&nbsp; January<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in February").count %>&nbsp;  February<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in March").count %>&nbsp;  March<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in April").count %>&nbsp;  April<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in May").count %>&nbsp;  May<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in June").count %>&nbsp;  June<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in July").count %>&nbsp;  July<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in August").count %>&nbsp;  August<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in September").count %>&nbsp;  September<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in October").count %>&nbsp;  October<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in November").count %>&nbsp;  November<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(pay_status: "Follow up in December").count %>&nbsp;  December</h4>-->
		<!--		</div>-->
		<!--	</div>-->

		<!--</div>-->

		<!--<p>&nbsp;</p>-->
		<!--<p>&nbsp;</p>-->
		<!--<p>&nbsp;</p>-->
		
		<!--<div class="row">-->
		<!--	<div class="col-md-12">-->
		<!--		<div class="well dashboard-panel dashboard-bckg-3-1 ">-->
		<!--			<h1 align="center">HealthCare Savings</h1>-->
		<!--		</div>-->
		<!--	</div>-->
		<!--</div>-->
		
		<!--<div class="row">-->
			
		<!--	<div class="col-md-4">-->
		<!--		<div class="row">-->
		<!--			<div class="col-md-12">				-->
		<!--				<div class="well dashboard-panel dashboard-bckg-3-2">-->
		<!--					<h1 align="center"><%= @prospects.where(hcs_prospect: true).count - hcs_all_closed %></h1>-->
		<!--					<h4 align="center">Total Open HealthCare Opportunities</h4>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="row">-->
		<!--			<div class="col-md-12">				-->
		<!--				<div class="well dashboard-panel dashboard-bckg-3-3">-->
		<!--					<h1 align="center"><%= @prospects.where(hcs_prospect: true).count %></h1>-->
		<!--					<h4 align="center">Total HealthCare Prospects in CRM</h4>-->
		<!--				</div>				-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->

		<!--	<div class="col-md-4">-->
		<!--		<div class="well dashboard-panel dashboard-bckg-3-4">-->
		<!--			<h3 align="center">HealthCare Prospects Status:</h4>-->
		<!--			<h4>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Intro Presentation Scheduled").count %>&nbsp; Intro Presentations Scheduled<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "SME Presentation Scheduled").count %>&nbsp;  SME Presentations Scheduled<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Waiting for Claims Data").count %>&nbsp;  Waiting for Claims Data<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Proposal Meeting Scheduled").count %>&nbsp;  Proposal Meetings Scheduled<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Waiting on Agreement").count %>&nbsp;  Waiting on Agreements<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Closed - Enrollment Scheduled").count %>&nbsp;  Closed - Enrollment Scheduled<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Closed - Group is Effective").count %>&nbsp;  Closed - Groups Are Effective<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Intro Presentation Given - No Sale").count %>&nbsp;  Intro Presentations Given - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "SME Presentation Done - No Sale").count %>&nbsp;  SME Presentations Done - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Proposal Given - No Sale").count %>&nbsp;  Proposals Given - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Not Qualified - No Sale").count %>&nbsp;  Not Qualified - No Sale<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; <%= @prospects.where(hcs_status: "Other - No Sale").count %>&nbsp;  Other - No Sale</h4>-->
		<!--		</div>-->
		<!--	</div>-->
	
	
		<!--	<div class="col-md-4">-->
		<!--		<div class="well dashboard-panel dashboard-bckg-3-5">-->
		<!--			<h3 align="center">Following Up In:</h4>-->
		
		<!--			<h4>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in January").count %>&nbsp; January<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in February").count %>&nbsp;  February<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in March").count %>&nbsp;  March<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in April").count %>&nbsp;  April<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in May").count %>&nbsp;  May<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in June").count %>&nbsp;  June<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in July").count %>&nbsp;  July<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in August").count %>&nbsp;  August<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in September").count %>&nbsp;  September<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in October").count %>&nbsp;  October<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in November").count %>&nbsp;  November<br>-->
		<!--				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%= @prospects.where(hcs_status: "Follow up in December").count %>&nbsp;  December</h4>-->
		<!--		</div>-->
		<!--	</div>-->

		<!--</div>-->

	</div>
	
<% end %>